/*
  DOT COLORS

  Default values for color changing objects
*/

#dot1.dot_pulse{
  background-color: #FCB711;
}
#dot2.dot_pulse{
  background-color: #F37021;
}
#dot3.dot_pulse{
  background-color: #CC004C;
}
#dot4.dot_pulse{
  background-color: #6460AA;
}
#dot5.dot_pulse{
  background-color: #0089D0;
}
#dot6.dot_pulse{
  background-color: #0DB14B;
}
#v1_btn{
  background-color: #FCB711;
}
#v2_btn{
  background-color: #F37021;
}
#v3_btn{
  background-color: #CC004C;
}
#v4_btn{
  background-color: #6460AA;
}
#v5_btn{
  background-color: #0089D0;
}
#v6_btn{
  background-color: #0DB14B;
}

.active0{
  background-color: #FCB711;
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active1{
  background-color: #F37021;
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active2{
  background-color: #CC004C;
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active3{
  background-color: #6460AA;
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active4{
  background-color: #0089D0;
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active5{
  background-color: #0DB14B;
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
