/*
  DOT COLORS

  Default values for color changing objects

*/

/*Define mutable vars with defaults*/
:root{
  --color_one: #FCB711;
  --color_two: #F37021;
  --color_three: #CC004C;
  --color_four: #6460AA;
  --color_five: #0089D0;
  --color_six: #0DB14B;
}

#dot1.dot_pulse{
  background-color: var(--color_one);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_one);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_one);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_one);
}
#dot2.dot_pulse{
  background-color: var(--color_two);
  -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_two);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_two);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_two);
}
#dot3.dot_pulse{
  background-color: var(--color_three);
  -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_three);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_three);
  box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_three);
}
#dot4.dot_pulse{
  background-color: var(--color_four);
  -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_four);
  -moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.5), 0 0 10px var(--color_four);
  box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_four);
}
#dot5.dot_pulse{
  background-color: var(--color_five);
  -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_five);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_five);
  box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_five);
}
#dot6.dot_pulse{
  background-color: var(--color_six);
  -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_six);
  -moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.5), 0 0 10px var(--color_six);
  box-shadow:inset 0 0 5px rgba(0,0,0,0.5),0 0 10px var(--color_six);
}
#v1_btn{
  background-color: var(--color_one);
}
#v2_btn{
  background-color: var(--color_two);
}
#v3_btn{
  background-color: var(--color_three);
}
#v4_btn{
  background-color: var(--color_four);
}
#v5_btn{
  background-color: var(--color_five);
}
#v6_btn{
  background-color: var(--color_six);
}

.active0{
  background-color: var(--color_one);
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active1{
  background-color: var(--color_two);
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active2{
  background-color: var(--color_three);
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active3{
  background-color: var(--color_four);
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active4{
  background-color: var(--color_five);
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
.active5{
  background-color: var(--color_six);
  transition-duration: 500ms;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
