/*
  MAIN
  This file is for all the most common, low level, style rules.
  These are the things that are most likely to be changed, or to
  need to be changed.
*/


/* Global Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* REMOVE ALL THE OUTLINE SELECTORS */

input::-moz-focus-inner {
  border: 0;
}
button::-moz-focus-inner {
  border: 0;
}
a{
  outline: 0;
}

/*
  GLOBAL SETTINGS
  (fonts and body settings)
*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: darkgray;
  height: 100%;
  width: 100%;
}
h1{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px #555555;
  text-align: center;
}
h2{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px #555555;
  text-align: center;
}
h3{
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top:10px;
  text-shadow: 0px 2px 1px rgba(255,255,255,.3); /* 50% white from bottom */
}
/*
  SEQUENCER VISUALIZATION
  (settings for elements)
*/
#vis_container{
  position:absolute;
  left: 400px;
}
#step_counter{
  float: left;
  width: 100%;
  height: 20px;
}
.circle{
  border-radius: 400px;
  position: absolute;
  border: 3px dotted white;
}
#circle1{
  margin-left: 300px;
  margin-top: 300px;
  width: 200px;
  height: 200px;
}
#circle2{
  margin-left: 250px;
  margin-top: 250px;
  width: 300px;
  height: 300px;
}
#circle3{
  margin-left: 200px;
  margin-top: 200px;
  width: 400px;
  height: 400px;
}
#circle4{
  margin-left: 150px;
  margin-top: 150px;
  width: 500px;
  height: 500px;
}
#circle5{
  margin-left: 100px;
  margin-top: 100px;
  width: 600px;
  height: 600px;
}
#circle6{
  margin-left: 50px;
  margin-top: 50px;
  width: 700px;
  height: 700px;

}
.dot{
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 3px solid black;
  background-color: rgba(0,0,0,0.0);
  border-radius: 50px;
}
.dot_pulse{
  box-sizing: border-box;
  border: 3px solid black;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
#dot_active{
  background-color: white;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
#dot_active.dot_pulse{
  box-sizing: border-box;
  border: 5px solid #eee;
  background-color: rgba(0,0,0,0.7);
}

/*
  USER INTERFACE GENERAL
  (settings for the layout of the UI)
*/
#controls{
  height: 100%;
}
#controlbtns{
  margin-bottom: 0px;
  height: 50px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.4);
  padding-top: 15px;
  padding-left: 10px;
  border: 1px black solid;
}
#controls-container{
  float: left;
  display:inline-block;
  background-color: gray;
  width: 320px;
  height: 100%;
  position:absolute;
  top:0;
  left: 0;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
}
#voice_color{
  margin-bottom: 20px;
}
#general{
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
  height: 500px;
}
#voice_amount{
  width: 100%;
  margin-bottom: 20px;
}

.voice_settings{
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 100%;
}
.slider{
  display:block;
  position: relative;
  margin-bottom: 40px;
}
.voice_header{
  position: relative;
  box-sizing: border-box;
  padding-top: 5px;
  z-index: 2;
  width: 103.3%;
  height: 50px;
  margin-left:-5px;
  margin-top: 0px;
  background-color: #656565;
  border-bottom: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.voice_header_bg{
  background-color: #444;
  position: absolute;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  height: 55px;
  margin-left:-5px;
  margin-bottom: 100px;
}
#keyboard_wrapper{
  height: 150px;
}
#wave_label{
  position: relative;
  margin-top: 500px;
}
