@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* REMOVE ALL THE OUTLINE SELECTORS */
input::-moz-focus-inner {
  border: 0;
}
button::-moz-focus-inner {
  border: 0;
}
a{
  outline: 0;
}
/* GENERAL STYLES */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}


body{
  background-color: darkgray;
  height: 100%;
  width: 100%;
}
h1{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px #555555;
  text-align: center;
}
h2{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px #555555;
  text-align: center;
}
h3{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
#circle1{
  margin-left: 150px;
  margin-top: 150px;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  position: absolute;
  border: 3px dashed white;
}
#circle2{
  margin-left: 100px;
  margin-top: 100px;
  width: 400px;
  height: 400px;
  border-radius: 300px;
  position: absolute;
  border: 3px dashed white;
}
#circle3{
  margin-left: 50px;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 300px;
  position: absolute;
  border: 3px dashed white;
}
.dot{
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.dot_pulse{
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.dot{
}
#dot1{
  transition-duration: 200ms;
}
#dot2{
  transition-duration: 200ms;
}
#dot3{
  transition-duration: 200ms;
}
#dot_active{
  border: 1px solid black;
  background-color: white;
  -webkit-box-shadow:0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow:0 0 20px white;
}
#controls{
  height: 400px;
}
#controlbtns{
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
#controls-container{
  float: left;
  display:inline-block;
  background-color: gray;
  width: 320px;
  height: 100%;
  position:absolute;
  top:0;
  left: 0;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
}
#vis_container{
  position:absolute;
  left: 400px;
}
#voice_color{
  margin-bottom: 20px;
}
#general{
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
  height: 500px;
}
#voice_amount{
  width: 100%;
  margin-bottom: 20px;
}

#voice1{
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
#voice2{
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
#voice3{
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
.slider{
  display:block;
  position: relative;
  margin-bottom: 40px;
}
#step_counter{
  float: left;
  width: 100%;
  height: 20px;
}
